:host {
  width: 90vw;
	height: 100%;
  margin: auto;
	display: block;
	border-radius: 10px;
	-webkit-box-shadow: 1px 5px 10px 5px rgba(166,163,166,0.42);
  -moz-box-shadow: 1px 5px 10px 5px rgba(166,163,166,0.42);
  box-shadow: 1px 5px 10px 5px rgba(166,163,166,0.42);
  background: #fff;
  padding: 50px;
}
